<!DOCTYPE html>
<html>
<head>
	<link href="/ex1/css/style.css" rel="stylesheet" type="text/css"/>
	<meta  charset= "utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Контаксти</title>
</head>
<body>

<header>
	<div class="wrapper">
	<nav>
		<ul>
			<li><a href="/ex1/">Головна </a></li> 
			<li><a href="menu">Меню</a></li> 
			<li><a href="gallery">Галерея</a></li> 
			<li><a href="contacts">Контакти</a></li>

		</ul>
	</nav>

	<nav class="enter">
		<ul>
			<li><a href="#">Вхід</a></li>
			<li><a href="#">Корзина</a></li>
		</ul>
	</nav>
	</div>
</header>






<main class="wrapper">
	<section class="contsect">
	<h1 id="name">Контакти</h1>
		
			<div class="phone">
			<h1>Зворотній зв'язок</h1>
			<ul>
				<li>Телефон:+38 066 66 666</li>
				<li>Факс: +38 066 66 669</li>
			</ul>
			</div>
			<div class="vk">
			<h1>Ми в соціальних мережах</h1>
			<ul>
				<li><img src="images/vk.png"><a href="https://vk.com/inside_vntu">Ми в ВКонтакте</a> </li>
				<li><img src="images/fb.png"><a href="https://vk.com/inside_vntu">Ми в Facebook</a> </li>
				<li><img src="images/mail.png"><a href="https://vk.com/inside_vntu">Ми в Mail.ru</a> </li>
			</ul>
			</div>
			
	</section>	
			<h2>Нас можна знайти тут)))</h2>
	<div id="map" >

				<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d369.2013291480863!2d-0.12484285326705948!3d51.50072862782516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c38c8cd1d9%3A0xb78f2474b9a45aa9!2z0JHQuNCzINCR0LXQvQ!5e0!3m2!1suk!2sua!4v1475687750645" alt="this is карта" width="1024" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>	
</main>












<footer>
	<div class="wrapper">
		<div class="rozklad">
			<h1>Чекаємо на Вас</h1>
			<p>Будні дні: 10:00 - 22:00</p>
			<p>Субота-Неділя: 11:00 - 12:00</p>
		</div>
		<div class="gifak">
			<img src="images/pizza.gif">
		</div>
		<div class="adress">
			<h1>Наша адреса:</h1>
			<p>м.Вінниця</p>
			<p>вул. Келeцька, 98</p>
		</div>
	</div>
</footer>

</body>
</html>