<!DOCTYPE html>
<html>
<head>
	<link href="/ex1/css/style1.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src=http://code.jquery.com/jquery-latest.min.js></script>
	<meta  charset= "utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Наш сайт</title>
		
		
		 
</head>
<body>

<header>
	<div class="wrapper">
	<nav>
		<ul>
			<li><a href="/ex1/">Головна </a></li> 
			<li><a href="menu">Меню</a></li> 
			<li><a href="gallery">Галерея</a></li> 
			<li><a href="contacts">Контакти</a></li>

		</ul>
	</nav>

	<nav class="enter">
		<ul>
			<li><a href="#">Вхід</a></li>
			<li><a href="#">Корзина</a></li>
		</ul>
	</nav>
	</div>
</header>

<div class="slider">
     
	<ul>
		<li><img src="01.jpg" alt=""></li>
		<li><img src="02.jpg" alt=""></li>
		<li><img src="03.jpg" alt=""></li>
		<li><img src="04.jpg" alt=""></li>
		
	</ul>
	
</div>  
                
        
        
    
     <script type="text/javascript">
$(document).ready(function() {
 $(".slider").each(function () { // обробка кожного слайдера
  var obj = $(this);
  $(obj).append("<div class='nav'></div>");
  $(obj).find("li").each(function () {
   $(obj).find(".nav").append("<span rel='"+$(this).index()+"'></span>"); // добавляєм блок навігації
   $(this).addClass("slider"+$(this).index());
  });
  $(obj).find("span").first().addClass("on"); // робим активним пергий елемент меню
 });
});
function sliderJS (obj, sl) { // slider function
 var ul = $(sl).find("ul"); // знаходим блок
 var bl = $(sl).find("li.slider"+obj); // знаходим любий з елементів блока
 var step = $(bl).width(); // ширина об'єкта
 $(ul).animate({marginLeft: "-"+step*obj}, 500); // швидкість перемотки
}
         
          
$(document).on("click", ".slider .nav span", function() { // slider click navigate
 var sl = $(this).closest(".slider"); // в якому блоці є клік
 $(sl).find("span").removeClass("on"); // забираєм активний елемент
 $(this).addClass("on"); // робим активним поточний
 var obj = $(this).attr("rel"); // дізнаємся його номер
 sliderJS(obj, sl); // перемотуєм
 return false;
});
           
</script>

    <menu class="wrapper">
        <div class="col">
        
    <article  th:each="article: ${articles}"  th:class="${article.isFirstInRow}==true ? 'first_one' : '' " >
    <div class="column">
        <div id="column-title1">
            <div class="title-text" th:text="${article.header}">Стаття1</div>
        </div>
        <div id="column-main"> 
        <div class="column-text" >
		<p th:text="${article.article}">"Pizza" - це нова італійська піцерія яка відкрилася в нашому місті. Вас чекає неймовірна атмосфера, якісне обслуговування, смачні страви та наш інтер'єр який дозволить зануритись в саме серце Італії...</p>
       <img th:src="${article.kartinka}" style="padding-bottom:4px; width:290px; height:193px;">
        </div> 
        <div id="column-button"><a href="gallery.html">Детальніше</a></div>
        </div>
         </div> 
    </article>
    </menu>
        
<footer>
	<div class="wrapper">
		<div class="rozklad">
			<h1>Чекаємо на Вас</h1>
			<p>Будні дні: 10:00 - 22:00</p>
			<p>Субота-Неділя: 11:00 - 12:00</p>
		</div>
		<div class="gifak">
			<img src="images/pizza.gif">
		</div>
		<div class="adress">
			<h1>Наша адреса:</h1>
			<p>м.Вінниця</p>
			<p>вул. Келeцька, 98</p>
		</div>
	</div>
</footer>

</body>
</html>