<!DOCTYPE html>
<html>
<head>
	<link href="/ex1/css/style.css" rel="stylesheet" type="text/css"/>
	<meta  charset= "utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Наш сайт</title>
</head>
<body>

<header>
	<div class="wrapper">
	<nav>
		<ul>
			<li><a href="/ex1/">Головна </a></li> 
			<li><a href="menu">Меню</a></li> 
			<li><a href="gallery">Галерея</a></li> 
			<li><a href="contacts">Контакти</a></li>

		</ul>
	</nav>

	<nav class="enter">
		<ul>
			<li><a href="#">Вхід</a></li>
			<li><a href="#">Корзина</a></li>
		</ul>
	</nav>
	</div>
</header>

    <div id="photo">
    	<div id="name-p">
    		<h2>PIZZA </h2>
    	</div>
    </div>

    <menu class="wrapper">
        <div class="col">
    <div class="column">
        <div id="column-title1">
            <div class="title-text">Стаття1</div>
        </div>
        <div id="column-main"> 
        <div class="column-text">
		"Pizza" - це нова італійська піцерія яка відкрилася в нашому місті. Вас чекає неймовірна атмосфера, якісне обслуговування, смачні страви та наш інтер'єр який дозволить зануритись в саме серце Італії...
        <img src="images/col-1.jpg" alt="наша картинка" style="padding-bottom:4px; width:290px; height:193px;">
        </div>
        <div id="column-button"><a href="gallery.html">Детальніше</a></div>
        </div>
         </div>
    
    <div class="column">
        <div id="column-title2">
            <div class="title-text">Стаття2</div>
        </div>
        <div id="column-main2"> 
        <div class="column-text">
		"Pizza" - це піцерія з чудовим вибором піци, а в мабутньому і напоїв. Унікальний заклад, в якому поєднується формат швидкого обслуговування і якісного харчування. Це найкраще місце як для тих, хто економить свій час, так і для тих, хто цінує якісну кухню.
        <img src="images/Fon2.jpg" alt="" style="padding-top=20px; padding-bottom:4px; width:290px; height:193px;">
        </div>
        <div id="column-button"><a href="contacts.html">Детальніше</a></div>
        </div>
         </div>
        </div>
        
    
    </menu>
        
<footer>
	<div class="wrapper">
		<div class="rozklad">
			<h1>Чекаємо на Вас</h1>
			<p>Будні дні: 10:00 - 22:00</p>
			<p>Субота-Неділя: 11:00 - 12:00</p>
		</div>
		<div class="gifak">
			<img src="images/pizza.gif">
		</div>
		<div class="adress">
			<h1>Наша адреса:</h1>
			<p>м.Вінниця</p>
			<p>вул. Келeцька, 98</p>
		</div>
	</div>
</footer>

</body>
</html>