<!DOCTYPE html>
<html>
<head>
	<link href="/ex1/css/style1.css" rel="stylesheet" type="text/css"/>
	<meta  charset= "utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Меню</title>
</head>
<body>

<header>
	<div class="wrapper">
	<nav>
		<ul>
			<li><a href="/ex1/">Головна </a></li> 
			<li><a href="menu">Меню</a></li> 
			<li><a href="gallery">Галерея</a></li> 
			<li><a href="contacts">Контакти</a></li>

		</ul>
	</nav>

	<nav class="enter">
		<ul>
			<li><a href="#">Вхід</a></li>
			<li><a href="#">Корзина</a></li>
		</ul>
	</nav>
	</div>
</header>
<main class="wrapper">
<section>
	<h1>Меню</h1>
	
	<article th:each="menu: ${menus}"  th:class="${menu.isFirstInRow}==true ? 'first_one' : '' " >
		<img th:src="${menu.kartinka}">
		<div class="pizza_info">
		<h2 th:text="${menu.pidpus}">ПІЦА «Американо» + СОУС «БАВАРСЬКИЙ»</h2>
		<p th:text="${menu.pid}">Фірмовий томатний соус, сир "Гауда", запечене куряче філе, бекон, маслини, перець пепероні</p>
		<p class="weight" th:text="${menu.vaga}">Вага: 840 г</p>
		</div>
		<form>
			<p th:text="${menu.price}">140грн.</p>
			<button type="submit">Замовити</button>
		</form>
	</article>
	
</section>

	

</main>

<footer>
	<div class="wrapper">
		<div class="rozklad">
			<h1>Чекаємо на Вас</h1>
			<p>Будні дні: 10:00 - 22:00</p>
			<p>Субота-Неділя: 11:00 - 12:00</p>
		</div>
		<div class="gifak">
			<img src="images/pizza.gif">
		</div>
		<div class="adress">
			<h1>Наша адреса:</h1>
			<p>м.Вінниця</p>
			<p>вул. Келeцька, 98</p>
		</div>
	</div>
</footer>
</body>
</html>